# QDN publish/search metadata
VITE_QORTIUM_QDN_SERVICE=DOCUMENT
VITE_QORTIUM_QDN_IMAGE_SERVICE=IMAGE
VITE_QORTIUM_QDN_IDENTIFIER=qdbm

# Admin rights are hard-linked in code to:
# QN1XYwwmTzXemusDb9p7T1nKJEACLHGgaL
